{% extends 'BlackUserBundle:AdminUser:base.html.twig' %}
{% block content_top %}
    {% include 'BlackAdminBundle:Admin:contentTop.html.twig' with {'title': "user.admin.contentTop.edit.text"} %}
{% endblock %}
{% block page_content %}
<div class="fluid">
    <form id="validate" class="main grid9" action="{{ path(admin_edit, { 'id': document.id }) }}" method="post" {{ form_enctype(form) }}>
        {% include 'BlackAdminBundle:AdminForm:fieldset.html.twig' with {'form': form, 'title': "user.admin.fieldset.edit.text"} %}
    </form>

    {% include 'BlackAdminBundle:AdminForm:actions.html.twig' with {'document': document} %}
</div>
{% endblock %}