{% extends 'BlackUserBundle:AdminUser:base.html.twig' %}
{% block form_javascript %}
    <script type="text/javascript">
    jQuery(document).ready(function() {
        var rolesCount = {{ form.roles|length }};
        
        jQuery('#black_user_roles').children('.formRow').each(function() {
            addRoleFormDeleteLink($(this));
        });

        jQuery('#add-another-role').click(function() {
            var rolesList = jQuery('#black_user_roles');

            var newWidget = rolesList.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, rolesCount);
            rolesCount++;

            var newDiv = jQuery('<div class="formRow noBorderB"></div>').html(newWidget);
            addRoleFormDeleteLink(newDiv);
            newDiv.appendTo(rolesList);
            JQueryUIApplyStyle(newDiv);
            return false;
        });

        function addRoleFormDeleteLink($tagFormDiv) {
            var $removeFormA = $('<a href="#" class="add buttonS bRed mt10">{% trans from "form" %}user.admin.user.remove.role.text{% endtrans %}</a>');
            $tagFormDiv.first('.formRow .grid9').append($removeFormA);

            $removeFormA.on('click', function(e) {
                rolesCount--;
                e.preventDefault();
                $tagFormDiv.remove();
            });
        }

        function JQueryUIApplyStyle($newDiv) {
            $newDiv.find("select, .check, .check :checkbox, input:radio, input:file").uniform();
        }
    });

    </script>
{% endblock %}