{% extends 'BlackUserBundle:AdminUser:base.html.twig' %}
{% block page_content %}
<form id="validate" class="main grid9" action="{{ path(admin_batch) }}" method="post">
    <div class="fluid">
        <div class="widget check">
            <div class="whead">
                <span class="titleIcon"><input type="checkbox" id="titleCheck" name="titleCheck" /></span>
                <h6>{% trans from "views" %}user.admin.index.title.text{% endtrans %}</h6>
                <div class="clear"></div>
            </div>
            {% include 'BlackAdminBundle:AdminTable:table.html.twig' with {'documents': documents, 'csrf': csrf} %}
        </div>
    </div>
</form>
{% endblock %}