{% extends 'BlackUserBundle:AdminUser:base.html.twig' %}
{% block content_top %}
    {% include 'BlackAdminBundle:Admin:contentTop.html.twig' with {'title': "user.admin.contentTop.new.text"} %}
{% endblock %}
{% block page_content %}
<div class="fluid">
    <form id="validate" class="main" action="{{ path(admin_new) }}"  method="post" {{ form_enctype(form) }}>
        {% include 'BlackUserBundle:AdminUser:fieldset.html.twig' with {'form': form, 'title': "user.admin.fieldset.new.text"} %}
    </form>
</div>
{% endblock %}
