{% extends '::base.html.twig' %}

{% block body %}
    {% include 'BlackUserBundle:Front:header.html.twig' %}

    <section id="title" class="container">
        <div class="row">
            <div class="span12">
                <h1>{% trans from "views" %}user.www.confirmation.step.text{% endtrans %} <span class="color-text">{% trans from "views" %}user.www.confirmation.step.title.text{% endtrans %}</span></h1>
            </div>
        </div>
    </section>

    <div class="loginWrapper container" style="margin-top: 30px">

        <div class="row">
            <div class="span6 offset3">
             {% trans with { '%username%': document.username } from "views" %}user.www.confirmation.connect.text{% endtrans %}
            </div>
        </div>
    </div>
    {% include 'BlackUserBundle:Front:footer.html.twig' %}

{% endblock body %}