{% extends "BlackEngineSocialBundle::base.html.twig" %}

{% block body %}
    <div class="loginWrapper container" style="margin-top: 30px">

        <div class="row">
            <div class="span6 offset3">

                <header>
                    <h2>{% trans from "views" %}user.ww.passwordLost.text{% endtrans %}</h2>
                </header>
                <form id="recovery" action="{{ url('register_password_lost', {}, true) }}" method="post">
                    <fieldset>
                        {{ form_rest(form) }}

                        <div class="logControl">
                            <input type="submit" name="_submit" value="{% trans from "form" %}user.www.passwordLost.submit.value{% endtrans %}" class="btn rounded pull-right span2" style="margin-right: 0" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

{% endblock body %}
