{% extends '::base.html.twig' %}

{% block body %}

    <div class="loginWrapper container" style="margin-top: 30px">

        <div class="row">
            <div class="span6 offset3">
                <h5>{% trans %}user.recovery.form.title{% endtrans %}</h5>
                <form id="recovery" action="{{ url('register_reactivation_form', {}, true) }}" method="post">

                    {{ form_rest(form) }}

                    <div class="logControl">
                        <input type="submit" name="_submit" value="{% trans %}form.submit{% endtrans %}" class="btn rounded pull-right span2" style="margin-right: 0" />
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock body %}
